/* You can add global styles to this file, and also import other style files */
body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;

}
.center {
  text-align: center;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.cover{
  position: relative;
  text-align: center;
  height: 100%;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
}

.sidebar {
  background: antiquewhite;
  height: 600px;
  overflow-y: scroll;
  width: 400px;
  position: fixed;
  right: 0;
  top: 100px;
  z-index: 5;
}

.cart-button{
  position: fixed;
  right: 10px;
  top: 60px;
  z-index: 10;
}